@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
body{
    background-image: url('images/3425081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 50px;
}
nav img{
    width: 100%;
    height: auto;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 10px;
    font-weight: 600;
}
.navbar a:hover{
    background-color: rgba(81, 81, 199, 0.5);
    transition: 0.5s all ease;
    border-radius: 6px;
    transform: scaleX(1.05);
}
.logo img{
    width: 30%;
    height: auto;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Layar handphone */
@media (min-width: 320px) and (max-width: 480px) {
body{
    background-image: url('images/3425081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 12px;
    margin: 0;
}
.navbar{
    display: flex;
    gap: 0px;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
}
.navbar a:hover{
    background-color: rgba(81, 81, 199, 0.5);
    transition: 0.5s all ease;
    border-radius: 6px;
    transform: scaleX(1.05);
}
.logo{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    width: 35%;
    height: auto;
}
}