@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@keyframes appear{
    from{
        opacity: 0.4;
        scale: 1;
        transform: translateY(-60px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
}
@keyframes identifier {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
footer h1{
    animation: identifier 2.5s linear;   
}
.card img{
    animation: appear 3s linear;
}
body{
    background-image: url('images/3425081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: xx-large;
    margin-top: 30px;
}
span{
    color: transparent;
    font-weight: 800;
    font-size: 50px;
    -webkit-text-stroke: 0.15vw white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
header>h1{
    font-size: 50px;
}
main img{
    width: 8%;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 30px 40px 50px 40px;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 10px;
    font-weight: 600;
}
.navbar a:hover{
    background-color: rgba(81, 81, 199, 0.5);
    transition: 0.5s all ease;
    border-radius: 6px;
    transform: scaleX(1.05);
}
.isi{
    margin: 5px 160px 30px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    gap: 15px;
    text-align: center;
    border-radius: 0% 20% 0% 20%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.isi span{
    -webkit-text-stroke: 1px hsl(0, 0%, 100%);
    color: transparent;
    font-size: 50px;
    padding-left: 0px;
}
.isi p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    padding: 5px 55px 35px 55px;
}
h1{
    color: white;
}
.logo img{
    width: 30%;
    height: auto;
}
footer{
    animation: appear 2s line;
    margin-top: 60px;      
}
footer h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('images/juara.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 5%);
    mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 5%);
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
}
.card img{
    width: 20%;
    height: auto;
}
/* Layar handphone */
@media (min-width: 320px) and (max-width: 480px) {
footer h1{
    animation: identifier 2.5s linear;   
}
.card img{
    animation: appear 3s linear;
}
body{
    background-image: url('images/3425081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 0px;
}
span{
    color: transparent;
    font-weight: 800;
    font-size: 20px;
    -webkit-text-stroke: 0.15vw white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
header>h1{
    font-size: 20px;
}
main img{
    width: 14%;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 12px;
    margin: 0px 0px 100px 0px;
}
.navbar{
    display: flex;
    gap: 0px;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    font-size: 9px;
    color: white;
    font-weight: 600;
}
.navbar a:hover{
    background-color: rgba(81, 81, 199, 0.5);
    transition: 0.5s all ease;
    border-radius: 6px;
    transform: scaleX(1.05);
}
.isi{
    margin: 0px 9px 0px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0% 20% 0% 20%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.isi span{
    -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0.705);
    color: transparent;
    font-size: 17px;
    padding-left: 0px;
}
.isi p{
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    padding: 1px 10px 15px 10px;
}
.isi h1{
    font-size: 12px;
}
h1{
    color: white;
}
.logo{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    width: 30%;
    height: auto;
}
footer{
    animation: appear 2s line;
    margin-top: 400px;      
}
footer span{
    font-size: 20px;
}
footer h1{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('images/juara.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 5%);
    mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 5%);
    padding: 10px 0px 0px 0px;
}
.card img{
    width: 20%;
    height: auto;
}
}
